.list {
  margin-top: 16px;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.item + .item {
  margin-top: 8px;
}

.button {
  margin-left: 8px;
  padding: 4px 8px;
  border: white;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
